
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.home-content {
    text-align: center;
}

p.home-page {
	letter-spacing: 0.6em;
	font-weight: 600;
	font-size: 0.8em;
}

p.modal-address {
	color: #bdb5a1;
	letter-spacing: 0.6em;
	font-weight: 500;
	font-size: 0.65em;
	text-transform: uppercase;
}

.btn {
	outline: none !important;
	box-shadow: none !important;
	border-radius: 0;
}

.btn-gold {
	background: #8B784A;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 600;
	letter-spacing: 0.08em;
}

.btn-gold-outline {
	border: solid 2px #8B784A;
	background: #414042;
	color: #8B784A;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 600;
	letter-spacing: 0.08em;
}

.btn-gold-outline:hover {
	border: solid 2px #8B784A !important;
	background: #8B784A !important;
	color: #414042 !important;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 600;
	letter-spacing: 0.08em;
}

.press:active {
	transform: scale(1.03);
}

.modal-content {
	position: relative;
	border-radius: 0;
	background-color: #414042;
}

.ps-div {
	background: #8B784A;
	padding-top: 8px;
	position: absolute;
	width: 80px;
	height: 40px;
	top: 10px;
	left: -10px;
	text-align: center;
	box-shadow: 0 3px 25px 0 rgba(0,0,0,.2);
}

.modal-close {
	position: absolute;
	top: 15px;
	right: 15px;
}

.modal-close:hover {
	cursor: pointer;
}

.modal-close button {
	background: transparent;
	border: none;
}

.modal-close button:focus {
	box-shadow: none !important;
	outline: none !important;
}

label {
	text-transform: uppercase;
	font-size: 0.7em;
	letter-spacing: 0.08em;
}

.form-control {
	line-height: 2.5em;
	height: 3.8em;
	background: #bdb5a1;
	color: #202021;
	font-size: 0.85em;
	font-weight: 600;
	letter-spacing: 0.08em;
	border: solid 2px #8B784A;
	border-radius: 0;
}

.form-control:focus {
	background: #bdb5a1;
	color: #202021;
	border: solid 2px #8B784A;
	outline: none !important;
	box-shadow: none !important;
}

::placeholder {
	line-height: inherit;
	text-transform: uppercase;
	font-size: 0.85em;
	font-weight: 600;
	letter-spacing: 0.08em;
	color: #6D6D6D !important;
}


// MEDIA QUERIES FOR DIFFERENT DEVICES

// iPhone X portrait
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {
	.home-content svg {
		width: 330px !important;
		height: 18px !important;
	}
	.full-height {
	    height: 0 !important;
	    padding-top: 45vh;
	}
	.modal-dialog-centered {
	    align-items: start;
	}
}

// iPhone 6/7/8 Plus portrait
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) { 
    .home-content svg {
		width: 340px !important;
		height: 19px !important;
	}
	p.home-page {
		font-size: 0.75em !important;
	}
}

// iPhone 6/7/8 portrait
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
	.home-content svg {
		width: 330px !important;
		height: 18px !important;
	}
    .home-content svg {
		width: 320px;
		height: 17px;
	}
}

// iPhone 5/5SE portrait
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
	input[type=text],
	input[type=tel],
	input[type=email],
	input[type=password],
	input[type=search] {   
		appearance: none;  
	}
	textarea {
		appearance: none;
	}
	
	.home-content svg {
		width: 280px;
		height: 14px;
	}
	p.home-page {
		letter-spacing: 0.6em;
		font-weight: 600;
		font-size: 0.65em;
	}
	.ps-div {
		left: 0px;
	}
}